body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f5f5f5;
    margin: 0;
    }

.main{
    background-color: aqua;
    height: 100vh;
    display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}
.card{
    background: #ffffff;
        width: 350px;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        text-align: center;
}
.image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.bio h1 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.bio p {
    margin: 5px 0;
    color: #444;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.linkedin {
    background-color: #0077b5;
}

.github {
    background-color: #333;
}

.btn:hover {
    opacity: 0.8;
}